html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'RobotoDraft', sans-serif;
  font-weight: 300;
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
}



core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-toolbar {
  min-height: 50px;
  height: 50px;
  background: #333;
  color: white;
}

core-toolbar h2  {
  margin: auto auto;
  font-size: 1.8rem;
  font-weight: 300;
}

paper-tabs  a {
  color: inherit;
  text-decoration: none;
}

core-toolbar a  {
  color: inherit;
  text-decoration: none;
}

#tabs {
  width: 100%;
  margin: 0;
  user-select: none;
  text-transform: uppercase;
}

footer  {
  position: relative;
  bottom: 0;
}

@media (max-height: 800px) {
  common-links-bottom {
    background-color: red;
  }
}
